

  <h1>New_Product</h1>
  <form action="/products" method="post">
    

    <div>
     Name: <input type="text" name="name">
    </div>

    <div>
      Price: <input type="text" name="price"> 
    </div>

    <div>
      Description: <input type="text" name="description"> 
    </div>

  
    <div>
      Supplier_ID: <input type="text" name="supplier_id"> 
    </div>

    <div>
      Image_url: <input type="text" name="url"> 
    </div>


   <input type="submit" value="Click_to_create_Product">



  </form>